body {
  background-color: rgb(189, 247, 189);
  font-family: "Merriweather", serif;
  font-size: xx-large;
}

span{
  margin: 10px;
  color: #ffffff;
}
.button {
  background-color: rgb(189, 247, 189);
  color: rgb(0, 0, 0);
  font-family: "Merriweather", serif;
}

#game_container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: url(assets/Interesting\ Background.png);
  background-size: cover;
}

#bird {
  width: 70px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 40%;
  background: url("assets/Actually\ Perfect\ Mario.png") no-repeat center center;
  background-size: contain;

  transform-origin: cover;
  transition: transform 0.1 linear;
}

#score {
  position: absolute;
  top: 20;
  left:30px;
  color: rgb(255, 255, 255);
  font-size: 48;
  font-family: "Merriweather", serif;
}

#start-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 32;
  background-color: rgb(59, 146, 59);
  color: white;
  border: none;
  border-radius: 16;
  cursor: pointer;
}

#start-btn:hover {
  background-color: rgb(91, 192, 91);
}

.pipe {
position: absolute;
width: 100px;
  background-color: green;
}

.top-pipe {
top: 0;
border-bottom: 10px solid darkgreen;
}

.bottom-pipe {
border-top: 10px solid darkgreen
} 

#difficulty-select {
position: absolute;
top: 100px;
right: 20px;
padding: 0px;
font-size: 16px;
border-radius: 5px;
}

