body {
  background-color: rgb(189, 247, 189);
  font-family: "Merriweather", serif;
  font-size: xx-large;
}

span{
  margin: 10px;
  color: #ffffff;
}
.button {
  background-color: rgb(189, 247, 189);
  color: rgb(0, 0, 0);
  font-family: "Merriweather", serif;
}

#game_container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: url(assets/Interesting\ Background.png);
  background-size: cover;
}

#bird {
  width: 70px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 480px;
  left: 40%;
  background: url("assets/Actually\ Perfect\ Mario.png") no-repeat center center;
  background-size: contain;

  transform-origin: cover;
  transition: transform 0.1 linear;
}

#score {
  position: absolute;
  top: 40%;
  left: 39%;
  color: rgb(0, 0, 0);
  font-size: 48;
  font-family: "Merriweather", serif;
}

#start-btn {
  position: absolute;
  top: 470px;
  right: 900px;
  padding: 10px 20px;
  font-size: 32;
  background-color: rgb(169, 255, 169);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 160px;
  cursor: pointer;
  margin: auto;
}

#start-btn:hover {
  background-color: rgb(91, 192, 91);
}

.pipe {
position: absolute;
width: 100px;
  background-color: green;
  background: url(assets/OIP.jpg)
}

.top-pipe {
top: 0;
border-bottom: 10px solid darkgreen;
}

.bottom-pipe {
border-top: 10px solid darkgreen
} 

#difficulty-select {
position: absolute;
top: 530px;
right: 893px;
padding: 0px;
font-size: 18px;
border-radius: 5px;
}

#mute-btn {
  position:absolute;
  top: 530px;
  left: 851px;
  font-size: 16px;
}

